html, body {
  height: 100%;
  margin: 0;
}

header {
  height: 50px;
  background: #1e88e5;
  color: white;
  text-align: center;
  line-height: 50px;
  font-weight: bold;
}

#map {
  height: calc(100% - 50px);
  width: 100%;
}
